!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/shCore.js')
    script(type='text/javascript', src='/javascripts/shBrushCSharp.js')
  body!= body
