script(type='text/javascript')
    SyntaxHighlighter.all();
each diff in diffs
    .grpheader.spacekiller #{diff.filename}
        a.rightalign(href=diff.url) source
    script(type='syntaxhighlighter', class='brush: diff; class-name: "diffblock"')
        #{diff.diff}


